*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a{
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover, nav a.active{
    color: #0ef;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f242d;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
section:nth-child(odd){
    background-color: #13151a;
}